<%= link_to "Pushcab", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? or session[:user_id] %>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
  <% end %>
</ul>
